In [32]:
def unpickle(file):
    import pickle
    with open(file, 'rb') as fo:
        dict = pickle.load(fo, encoding='bytes')
    return dict

import numpy as np
import pandas as pd

In [7]:
d=unpickle('../dataset/cifar10_1')

In [11]:
d[b'data'].shape

(10000, 3072)

In [28]:
x = np.concatenate((d[b'data'][:,0:1500],d[b'data'][:,1501:]),axis=1)
data = np.concatenate((x,d[b'data'][:,1500].reshape(-1,1)),axis=1)

In [35]:
df = pd.DataFrame(data)

In [36]:
df.to_csv("cifar_10_10000_regression.csv",index=False)

In [38]:
pd.read_csv('cifar_10_10000_regression.csv')

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,59,43,50,68,98,119,139,145,149,149,...,58,65,59,46,57,104,140,84,72,95
1,154,126,105,102,125,155,172,180,142,111,...,42,67,101,122,133,136,139,142,144,169
2,255,253,253,253,253,253,253,253,253,253,...,83,80,69,66,72,79,83,83,84,76
3,28,37,38,42,44,40,40,24,32,43,...,39,59,42,44,48,38,28,37,46,83
4,170,168,177,183,181,177,181,184,189,189,...,88,85,82,83,79,78,82,78,80,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,18,18,21,23,24,23,24,25,22,19,...,24,33,41,45,39,39,39,34,37,76
9996,235,240,249,253,254,253,254,254,179,108,...,89,113,139,163,174,179,182,181,181,83
9997,71,60,74,73,87,125,179,231,250,252,...,70,67,66,70,81,78,68,69,68,75
9998,250,254,211,64,61,60,55,54,55,59,...,134,132,130,127,132,133,215,255,254,78
9999,62,61,60,59,94,123,140,105,58,57,...,131,131,131,131,130,130,130,130,131,118